
body{
    text-align: center;
    margin: 0;
}

h1 {
  color: black;
  font-size: 30px;
}

#navbar {
    background-color: #eb5600;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}
#navbar li {
    flex-basis: 20%;
    transition: background-color 1s;
}
#navbar li a{
    color: white;
    display: block;
    font-size: 150%;
    padding: 20px;
    text-decoration: none;
}
#navbar li:hover{
    background-color: #333;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: 20;
}

#chart{
    flex:1
}
#options{
    flex:1
    align: center;
}


#times {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#times td, #times th {
  border: 1px solid #ddd;
  padding: 15px;
}

#times tr:nth-child(even){background-color: #f2f2f2;}

#times tr:hover {background-color: #ddd;}

#times th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #eb5600;
  color: white;
}
