
body{
    text-align: center;
    margin: 0;
}

h1 {
  color: black;
  font-size: 30px;
}

#navbar {
    background-color: #eb5600;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}
#navbar li {
    flex-basis: 20%;
    transition: background-color 1s;
}
#navbar li a{
    color: white;
    display: block;
    font-size: 150%;
    padding: 20px;
    text-decoration: none;
}
#navbar li:hover{
    background-color: #333;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    justify-content: center;
}

#times {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 20px;
  margin-bottom: 10px;
}

#times td, #times th {
  border: 1px solid #ddd;
  padding: 15px;
}

#times tr:nth-child(even){background-color: #f2f2f2;}

#metro tr:last-of-type{
    border-bottom: 2px orange solid;
}
#tram tr:last-of-type{
    border-bottom: 2px teal solid;
}
#bus tr:last-of-type{
    border-bottom: 2px red solid;
}
#longbus tr:last-of-type{
    border-bottom: 2px green solid;
}
#rail tr:last-of-type{
    border-bottom: 2px gray solid;
}

#times tr:hover {background-color: #ddd;}

#times th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #eb5600;
  color: white;
}

#metro th{
    background-color: orange;
}
#tram th{
    background-color: teal;
}
#bus th{
    background-color: red;
}
#longbus th{
    background-color: green;
}
#rail th{
    background-color: gray;
}

#times thead, #times tbody {
  display: block;
}

#times tbody {
  height: 300px;
  overflow: auto;
}


#homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#homeContainer > div {
    flex-basis: 50%;
}
