<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
    <body>
        <h1> Enter trend you want to explore here</h1>
        <form action="/">
            <label>Trend: </label>
            <input type="text" id="trend" name="trend"><br><br>
            <input type="submit" value="Submit">
        </form>

        <div id="vis"></div>
        <script type="text/javascript">
            spec = JSON.parse('{{ user | safe}}');
            vegaEmbed("#vis", spec);
        </script>
    </body>
</html>
