
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/ruter.js"></script> 
    <script type="text/javascript">
        window.onload = function() {
            getTimes("NSR:StopPlace:59600", "Forskningsparken");
            getTimes("NSR:StopPlace:6146", "Stillatorvet");
        };
    </script>
</head>
    <body>
        {% include "navbar.html" %}
        <h1 id=header>Enter Stop</h1>
        <input type="text" id="stop" name="stop"><br><br>
        <button onclick="getStop(document.getElementById('stop').value)">Click me</button> 

    </body>
</html>
