
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/ruter.js"></script> 
    <script type="text/javascript">
        window.onload = function() {
            const div = document.getElementById("container")
            getTimes("NSR:StopPlace:59600", "Forskningsparken", div);
            getTimes("NSR:StopPlace:6146", "Stillatorvet", div);
        };
    </script>
</head>
    <body>
        {% include "navbar.html" %}
        <h1 id=header>Enter Stop</h1>
        <input type="text" id="stop" name="stop"><br><br>
        <button onclick="getStop(document.getElementById('stop').value, document.getElementById('container'))">Click me</button> 
        <div id=container>
        </div>

    </body>
</html>
