<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css">
</head>
    <body>
        {% include "navbar.html" %}
        <h1>Weather Forcast</h1>
        <div>
        <script src="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/external_box_small.js"></script><noscript><a href="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/">yr.no: Forecast for Oslo</a></noscript>
        <script src="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/external_box_three_days.js"></script><noscript><a href="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/">yr.no: Forecast for Oslo</a></noscript>
        </div>
        <div>
        <script src="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/external_box_hour_by_hour.js"></script><noscript><a href="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/">yr.no: Forecast for Oslo</a></noscript>
        </div>
    </body>
</html>
