<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css">
</head>
    <body>
        {% include "navbar.html" %}
        <h1>Weather Forcast</h1>
        <div>
        <script src="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/external_box_three_days.js"></script><noscript><a href="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/">yr.no: Forecast for Oslo</a></noscript>
        </div>
        <div>
        <script src="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/external_box_hour_by_hour.js"></script><noscript><a href="https://www.yr.no/place/Norway/Oslo/Oslo/Oslo/">yr.no: Forecast for Oslo</a></noscript>
        </div>
        <img src="https://api.met.no/weatherapi/radar/2.0/?type=preciptype&area=southern_norway&content=animation" alt="alt text here" style="width: 50%"/>
        <img src="https://api.met.no/weatherapi/geosatellite/1.4/?area=europe&type=infrared" alt="alt text here" style="width: 50%"/>
        <img src="https://api.met.no/weatherapi/geosatellite/1.4/?area=europe&type=visible" alt="alt text here" style="width: 50%"/>
        <img src="https://api.met.no/weatherapi/geosatellite/1.4/?area=global&type=infrared" alt="alt text here" style="width: 50%"/>
    </body>
</html>
